.ad-concrete{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__header{
    box-sizing: border-box;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    width: 100%;
    float: left;
    &_title{
      text-align: left;
      width: 80%;
      float: left;
      font-size: 30px;
      font-weight: 700;
      color: #000;
      margin: 15px 0;
      text-transform: uppercase;

    }
  }
  .ad-concrete-content{
    display: block;
    position: relative;
    float: left;
    width: 80%;
  }
}

